body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    position: sticky;
    color: white;
}

.heading {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 20px;

}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

.nav-links {
    color: white;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.nav-links:hover {
    color: powderblue ;
    transform: rotate(6deg);
}

.logo {
    color: crimson;
}

.intro {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    height: 500px;
    width: 60%;
    margin:50px auto;
    margin-bottom: 150px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    /* border-radius: 5%; */
    overflow: hidden;
   
}

.greeting{
    padding-left: 30px ;
}


.greeting1 {
    font-size: 1.7rem;
}

.greeting2 {
    font-size: 3rem;
}

.greeting3 {
    margin: 0;
}



img{

    margin-left: auto;
    height: 400px;
    max-width: 500px;
    padding: 50px;
    margin: 5px;
    position: relative;
    left: 10px;
    z-index: 2;
}

.overlap{
    background: crimson;
    margin-left: 50px;
    height: 300px;
    width: 200px;
    padding: 50px;
    position: absolute;
    top: 70px;
    left: 596px;
    z-index: 1;
}

.know-me{
    color: crimson;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    display: block;
    border: 1px double crimson;
    max-width: 120px;
    padding: 10px 25px;
    margin: 50px auto;

}

/* about section */

.about {
    padding: 30px;
    padding: 5px 20px;
    max-width: 50%;
    margin: auto;
}
.about h2 {
    color: white;
    text-align: center;
    position: relative;
    font-size: 1.7rem;
}

.lines1 {
    width: 100%;
    height: 50px;
    position: relative;
}

.lines1::after, .lines1::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 5px;
    border-radius: 15%;
    background: crimson;
    width: 40%;
    top: 45%;

}

.lines1::after {
    left: 0;
}

.lines1::before {
    right: 0;
}

.about-content {
    box-sizing: border-box;
    background-color: white;
    display: flex;
    height: 500px;
    width: 60%;
    margin:100px auto;
    margin-bottom: 150px;
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.crimson-left {
    background: crimson;
    margin-left: 50px;
    height: 300px;
    width: 100px;
    padding: 50px;
    position: absolute;
    top: 70px;
    left: -120px;
    bottom: 150px;
}

.about-me {
    background-color: black;
}
.img-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-about img{
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 0;
}

.text-about {
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1em;
    font-weight: 500;
}

/* project menu */
.my-projects .lines3 {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}
 

.my-projects .lines3 h2 {
    text-align: center;
    font-size: 2rem;
}

.my-projects .lines1 {
    width: 50%;
    margin: auto;
}


.project {
    box-sizing: border-box;
    height: 450px;
    margin: 35px 25px;
    display: flex;
    justify-content: space-around;
}
 .project .item {
     width: 300px;
     height: 400px;
     margin: 2px;
     border-radius: 10px;
     text-align: center;
     color: #fff;
     margin-right: 15px;
     font-size: 1rem;
     box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);

}

.project .bump, .project .bump-two{
    background: crimson;
    width: 10px;
    height: 200px;
    animation: bump 1s linear forwards infinite alternate;
    margin-right: 50px;
}

.project .bump-two{
    margin-left: 50px;
}

.project .html {
    background: crimson;

}

.project .css {
    background: purple;
}


.project .javascript {
    background: green;
}

 
/* for the animation effect */

@keyframes bump {

    0% {
        background-color: crimson;
        transform: translateY(100%);
    }

    33% {
        background-color: purple;
        /* transform: translateY(70%)  translateY(100%); */
    }

    66% {
        background-color: green;
        transform: translateX(100%);
    }

    100% {
        background-color: crimson;
    }
}


/* for the shadow effect */



@keyframes flicker {
    
        0% {
            color: white;
            text-shadow: none;
        }
    
        33%,43%,54%,62%,74%,88%,91% {
            color: #fff;
            text-shadow: 0 0 10px #03bcf4,
                         0 0 20px #03bcf4,
                         0 0 40px #03bcf4,
                         0 0 60px #03bcf4,
                         0 0 80px #03bcf4;
        }
    
}



/* button style */
button {
    all: unset;
    padding: 5px 15px;
    background: white;
    margin: 10px 0;
    border-radius: 4px;
   
}

button a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
   
}

.html button a {
    color: crimson;
}

.css button a {
    color: rebeccapurple;
}

.javascript p {
    margin-top: 50%;
    font-size: large;
    font-weight:400;
}

 
/* stacking the links */
.repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.item p {
    font-weight: 700;
    padding: 15px;
    text-align: center;
}


/* contact-me  Section*/
.contact .lines1{
    color: white;

}
.contacts{
    padding: 30px;
    padding: 5px 20px;
    height: 400px;
    margin: auto;
    background: black;
    margin-top: 100px;
    color: white;
}
.contacts .lines1 h2 {
    color: white;
    text-align: center;
    position: relative;
    font-size: 1.7rem;
    margin: 0 50px;
}

.contact {
    max-width: 50%;
    margin: 0 auto;
}


/* styling social media section */
.socials {
    display: flex;

}

.social-media {
    display: flex;
    flex-direction: column;
}

.contacts h2 {
    color: rgb(125, 125, 125);
    font-size: 1rem;
   
}
.lines2 h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 10px;
    color: white;
}


.social-media h2 {
    margin-left: 15px ;
}

.personal-contact h2{
    margin-left: 30px;
}
.social-media div{
    margin: 10px;
}

span {
    margin-left: 10px;
    font-weight: 400;
}

.fa-twitter {
    color: rgb(49, 143, 214);
}


.fa-facebook-square, .fa-linkedin {
    color:rgb(66, 66, 207);
}

.social-media div a {
    text-decoration: none;
    color: white;
}

.personal-contact {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.personal-contact div{
    margin: 10px;
}

.fa-phone, .fa-envelope {
    color: rgb(125, 125, 125);
}

.personal-contact div a {
    text-decoration: none;
    color: beige;
}

.personal-contact div {
    margin: 15px;
}

.fa-phone {
    margin-left: 15px;
}

.comment {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.comment label{
    margin-bottom: 5px;
}

.comment input {
    all: unset;
    background-color: white;
    color: black;
    padding: 5px;
    margin-bottom:10px ;
    border-radius: 5px;
}

.comment textarea {
    background-color: white;
    padding: 5px;
    margin-bottom:10px ;
    border-radius: 5px; 
}

.comment button {
    color: whitek;
    font-family: sans-serif;
    font-variant: small-caps ;
    text-align: center;
    padding: 5px 5px;
    width: 70px;
    margin: auto;
    background-color: black;
    border: 2px solid white;
}

footer {
    margin: 10px;
    padding: 5px;
    text-align: center;
    background: color: rgb(125, 125, 125);
}

/* white line */
.lines2 {
    width: 100%;
    height: 50px;
    position: relative;
}

.lines2::after, .lines2::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 5px;
    border-radius: 15%;
    background: white;
    width: 40%;
    top: 45%;

}

.lines2::after {
    left: 0;
}

.lines2::before {
    right: 0;
}

/* black line */
.lines3 {
    width: 100%;
    height: 50px;
    position: relative;
}

.lines3::after, .lines3::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 5px;
    border-radius: 15%;
    background: black;
    width: 40%;
    top: 45%;

}

.lines3::after {
    left: 0;
}

.lines3::before {
    right: 0;
}





















/* business card */
